/* font-family: 'Orbitron', sans-serif;
font-family: 'Montserrat', sans-serif; */
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
} 
body {
    background-color: black;
    text-align: center;
    color: white;
}

/* navbar */
#navbar {
    background-color: red;
    position: fixed;
    width: 100vw;
    z-index: 1;
    visibility: hidden;
}
#navbar a {
    text-decoration: none;
    color: white;
}
.button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.button:hover {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#navbar-button {
    position: fixed;
    display: block;
    width: 40px;
    z-index: 2;
    filter: invert(100%);
    cursor: pointer;
    margin: 10px 20px;

}
/* release card */
.release-card {
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 270px;
    padding: 10px;
    display: inline-block;
    margin: 20px;
    opacity: 0.9;
}

.release-card img {
    width: 250px;
    padding: 10px;
}
.release-card p {
    font-size: 0.8em;   
    opacity: 0.9;
}
.release-card p {
    font-size: 0.8em;   
}
.icons-row img {
    width: 30px;
}

/* page 1 */
#page1 {
    /*background-image: linear-gradient(to bottom, red,#e06000, yellow);*/
    background-image: url('back600.png');
    background-size: cover;
    width: 100vw;
}

#out-now {
    position: relative;
    top:70px;
    right: 200px;
}

#heading-main {
    font-family: 'Orbitron', sans-serif;
    margin: 15vh auto;
    font-size: 2.55em;
}
.quote {
    width: 70vw;
    margin: 0 auto;
    padding: 50px;
    
}

.quote quote {
    font-size: 1.5em;
    line-height: 1.6em;
    font-weight: 100;
    opacity: 0.9;
}
.quote span {
font-weight: 400;
}
#page1 hr {
        width: 500px;
        margin: 30px auto;
    }
}
/* page 2 */

#page2 {
    background-color:  black;
    background-size: cover;
    width: 100vw;
}
.heading {
    padding: 12vh 0 7vh 0;
    margin: 0 auto;
    font-size: 1.5em;
}


/* page 3 */




/* helper classes */

.uppercase {
    text-transform: uppercase;
}
